@use 'variables' as variable;

#renew {
	footer {
		section.about_AG {
			background-color: #db0025;
			@media (min-width: variable.$aiful_breakpoint_medium2) {
				flex-direction: row-reverse;
				align-items: start;	
			}
			@media (max-width: variable.$aiful_breakpoint_medium) {
				padding-bottom: 0;
			}
			&::after {
				@media (min-width: variable.$aiful_breakpoint_medium2) {
					position: absolute;
					bottom: 0;
					left: 50%;
					content: "";
					display: block;
					height: 1px;
					width: calc(100% - 120px);
					max-width: 1250px;
					background: #E84F69;
					transform: translateX(-50%);
				}
			}
			.footer_list {
				@media (min-width: variable.$aiful_breakpoint_medium2) {
					width: 30%;
					max-width: 267px;
					padding-right: 58px;
					display: flex;
					flex-direction: column;
					margin-top: 5px;
				}
				@media (max-width: variable.$aiful_breakpoint_medium) {
					width: 86.66667vw;
					margin: 0 auto;
					margin-bottom: 5.3334vw;
					display: flex;
					flex-direction: column;
				}
				.footer_list_title {
					@media (min-width: variable.$aiful_breakpoint_medium2) {
						font-family: "Midashi Go MB1";
						background-color: #ad0f0f;
						border-radius: 13px 13px 0 0;
						padding: 10px 0 10px 20px;
						font-size: 1.6rem;
					}
					@media (max-width: variable.$aiful_breakpoint_medium) {
						font-family: "Midashi Go MB1";
						background-color: #ad0f0f;
						border-radius: 13px 13px 0 0;
						padding: 10px 0 10px 20px;
						font-size: 3.7774vw;
					}
				}
				a {
					@media (min-width: variable.$aiful_breakpoint_medium2) {
						position: relative;
						background-color: #fff;
						color: #000;
						font-size: 1.4rem;
						font-family: "Swiss 721", "Gothic Medium BBB", "source-han-sans-japanese", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
						padding: 15px 0 15px 43px;
						transition: transform .2s cubic-bezier(0.175, 0.885, 0.47, 1.26);
					}
					@media (max-width: variable.$aiful_breakpoint_medium) {
						position: relative;
						font-family: "Swiss 721", "Gothic Medium BBB", "source-han-sans-japanese", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
						padding: 3.2667vw 0 3.2667vw 6.9333vw;
						transition: transform .2s cubic-bezier(0.175, 0.885, 0.47, 1.26);
						font-size: 3.46663vw;
						background-color: #fff;
						color: #000;
					}
					&::before {
						@media (min-width: variable.$aiful_breakpoint_medium2) {
							content: "";
							display: block;
							width: 8px;
							height: 10px;
							background: url(/assets/images/sideNav/red_arrow.svg) no-repeat left center;
							background-size: 100% 100%;
							position: absolute;
							left: 26px;
							top: 0;
							bottom: 0;
							margin: auto;
							transition: left .3s ease;
						}
						@media (max-width: variable.$aiful_breakpoint_medium) {
							content: "";
							display: block;
							width: 1.696vw;
							height: 2.21334vw;
							background: url(/assets/images/sideNav/red_arrow.svg) no-repeat left center;
							background-size: 100% 100%;
							position: absolute;
							left: 4vw;
							top: 0;
							bottom: 0;
							margin: auto;
							transition: left .3s ease;
						}
					}
					&:hover {
						@media (min-width: variable.$aiful_breakpoint_medium2) {
							color: #ce0023;
							transition: color 0.25s cubic-bezier(.23, 1, .58, 1);
						}
					}
					a:first-of-type::after {
						@media (min-width: variable.$aiful_breakpoint_medium2) {
							content: none;
						}
						@media (max-width: variable.$aiful_breakpoint_medium) {
							content: none;
						}
					}
					a:last-of-type {
						@media (min-width: variable.$aiful_breakpoint_medium2) {
							border-radius: 0 0 13px 13px;
						}
						@media (max-width: variable.$aiful_breakpoint_medium) {
							border-radius: 0 0 13px 13px;
						}
					}
				}
				a+a {
					@media (min-width: variable.$aiful_breakpoint_medium2) {
						border-top: 1px solid #dfe8ef;
					}
					@media (max-width: variable.$aiful_breakpoint_medium) {
						border-top: 1px solid #dfe8ef;
					}
				}
			}
			.AG_list {
				@media (min-width: variable.$aiful_breakpoint_medium2) {
					padding-left: 58px;
					max-width: 994px;
					width: 70%;
				}
				@media (max-width: variable.$aiful_breakpoint_medium) {
					width: 86.66667vw;
					margin: 0 auto;
					font-size: 3.66667vw;
					border-bottom: 1px solid #ec6a80;
					border-top: 1px solid #ec6a80;
				}
				ul {
					@media (min-width: variable.$aiful_breakpoint_medium2) {
						display: flex;
						flex-wrap: wrap;
					}
					@media (max-width: variable.$aiful_breakpoint_medium) {
						padding-top: 3px;
						padding-left: 3.2vw;
						display: none;
						margin-bottom: 4vw;
					}
				}
				li {
					@media (min-width: variable.$aiful_breakpoint_medium2) {
						width: calc((100% - 60px) / 3);
						margin: 2px 20px 2px 0;
					}
					a {
						@media (min-width: variable.$aiful_breakpoint_medium2) {
							position: relative;
							display: inline-block;
							font-size: 1.3rem;
							color: #fff;
							font-family: "Swiss 721", "Gothic Medium BBB", "source-han-sans-japanese", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
						}
						@media (max-width: variable.$aiful_breakpoint_medium) {
							font-size: 2.93333vw;
							color: #fff;
							margin-bottom: 3.4vw;
							display: block;
						}
					}
				}
				p {
					@media (min-width: variable.$aiful_breakpoint_medium2) {
						font-size: 1.3rem;
						font-family: "Midashi Go MB1";
						padding-bottom: 10px;
					}
				}
				.AG_list_title {
					@media (min-width: variable.$aiful_breakpoint_medium2) {
						font-size: 1.6rem;
					}
					@media (max-width: variable.$aiful_breakpoint_medium) {
						font-family: "Midashi Go MB1";
						padding: 4.22227vw 0 4.22227vw 3.2vw;
						font-size: 3.7774vw;
						position: relative;
					}
					&::before {
						@media (max-width: variable.$aiful_breakpoint_medium) {
							content: "";
							background: url(/assets/images/nav/white_arrow.svg) no-repeat left center;
							background-size: 1.73333vw 2.13333vw;
							width: 2.13333vw;
							height: 2.13333vw;
							display: block;
							position: absolute;
							right: 4.66667vw;
							transition: transform 0.3s linear, -webkit-transform 0.3s linear, -moz-transform 0.3s linear;
							top: 44%;
							transform: rotate(90deg);
						}
					}
					p {
						@media (max-width: variable.$aiful_breakpoint_medium) {
							position: relative;
						}
					}
				}
				.AG_list_title.active {
					&::before {
						@media (max-width: variable.$aiful_breakpoint_medium) {
							transform: rotate(-90deg);
							margin-top: auto;
						}
					}
				}
				.pc.active {
					@media (max-width: variable.$aiful_breakpoint_medium) {
						display: block;
						max-height: 1000px;
						transition: max-height 0.5s ease-in-out;
					}
				}
				.AG_list_contents {
					a {
						&::after {
							@media (min-width: variable.$aiful_breakpoint_medium2) {
								content: "";
								display: block;
								width: 0%;
								height: 2px;
								left: 0;
								background-color: #fff;
								transition: width .3s ease;
							}
						}
						&:hover::after {
							@media (min-width: variable.$aiful_breakpoint_medium2) {
								width: 100%;
							}
						}
					}
				}
			}
		}
		section.pc {
			@media (min-width: variable.$aiful_breakpoint_medium2) {
				display: flex;
			}
		}
		section {
			.sns {
				@media (max-width: variable.$aiful_breakpoint_medium) {
					margin: 16px auto;
					width: 100%;
				}
				a+a {
					@media (min-width: variable.$aiful_breakpoint_medium2) {
						margin-left: 14.5px;
					}
					@media (max-width: variable.$aiful_breakpoint_medium) {
						margin-left: 14.5px;
					}
				}
				p {
					br {
						@media (min-width: 853.33px) and (max-width: 877.33px) {
							display: none;
						}
					}
				}
			}
			.pagetop {
				@media (min-width: variable.$aiful_breakpoint_medium2) and (max-width: 1196px) {
					top: 4px;
					width: 50px;
					height: 50px;
					right: 10px;
				}
			}
			.sns_text {
				@media (max-width: variable.$aiful_breakpoint_medium) {
					vertical-align: middle;
					text-align: center;
					font-size: 2.93333vw;
					line-height: 44px;
					color: #EA0000;
				}
			}
			.link_btn {
				@media (max-width: variable.$aiful_breakpoint_medium) {
					display: block;
				}
			}
			.link_text {
				@media (max-width: variable.$aiful_breakpoint_medium) {
					display: block;
				}
			}
		}
		section.bottom {
			@media (min-width: variable.$aiful_breakpoint_medium2) {
				padding-top: 26px;
			}
			@media (max-width: variable.$aiful_breakpoint_medium) {
				padding-top: 5.60005vw;
			}
			.link_text {
				@media (min-width: variable.$aiful_breakpoint_medium2) {
					justify-content: center;
					/*	20250403 css start	*/
					width: 700px;
					flex-wrap: wrap;
					margin: 0 auto;
					/*	20250403 css end	*/
				}
				@media (max-width: variable.$aiful_breakpoint_medium) {
					padding-top: 3px;
					padding-left: 9vw;
					margin-bottom: 4vw;
					display: flex;
					flex-direction: column;
				}
				a {
					@media (max-width: variable.$aiful_breakpoint_medium) {
						margin-top: 0;
						margin-bottom: 5.4vw;
						margin-left: 0;
						margin-right: 0;
						box-sizing: border-box;
					}
				}
				a:nth-child(6) {
					&::before {
						@media (min-width: variable.$aiful_breakpoint_medium2) {
							content: none;
						}
					}
				}
				a+a {
					&::before {
						@media (max-width: variable.$aiful_breakpoint_medium) {
							content: none;
						}
					}
				}
				a:nth-child(even) {
					&::before {
						@media (max-width: variable.$aiful_breakpoint_medium) {
							content: "";
							position: absolute;
							display: none;
							left: 0vw;
							width: .4vw;
							height: 100%;
							background-color: #ad0f0f;
						}
					}
				}
			}
			.inner {
				.copyright {
					@media (min-width: variable.$aiful_breakpoint_medium2) {
						margin-top: 20px;
						text-align-last: center;
					}
					@media (max-width: variable.$aiful_breakpoint_medium) {
						margin-bottom: 6.3333vw;
						margin-top: 4vw;
					}
				}
			}
		}
		section.link_text {
			@media (max-width: variable.$aiful_breakpoint_medium) {
				display: flex;
			}
		}
	}	
}
